nav {
    background-color: #ffffff;
    color: rgb(82, 80, 82);
}

nav a {
    color: rgb(122, 121, 122);
}

nav a:hover {
    color: rgb(5, 5, 5);
}

.is-topbar {
    border-bottom: 1px solid rgb(231, 230, 230);
    font-size: small;
    background-color: white;
}

.is-gray {
    color: rgb(87, 86, 86);
}

.is-blue {
    color: rgb(0, 174, 255);
}

nav .active {
    padding-bottom: -20px;
    position: relative;
}

@media screen and (min-width: 1021px) {
    nav .active:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        bottom: 10px;
        left: 8px;
        border-bottom: 2px solid rgb(0, 174, 255);
        ;
    }
}

.active .nav-link {
    color: black;
}

@media screen and (max-width: 1020px) {
    nav .active:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        bottom: 10px;
        left: 1px;
        border-bottom: 2px solid rgb(0, 174, 255);
        ;
    }
}

nav {
    box-shadow: 0px 3px 10px rgba(139, 139, 139, 0.308);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-toggler-icon {
    margin-top: 9px;
}